
$success: #EF3B3A;

@import "~bootstrap/scss/bootstrap.scss";

.logo{
    margin-left: 20px;
    margin-right: 20px;
  }
  .choose{
    margin-left: 200px;
  }
  .mr-2{
      width: 400px;
      margin-right: 10px;
  }
 
  div.item{
    width: 30%;
    // padding: 3px;
    // border: double;
  }
  
  div.item figure > img{
    width: 100%;
    cursor: pointer;
    // height: 200px;
    transition: transform ease 0.5s;
  }
  div.item figure > img:hover{
    transform:skewX(30px)
  }
  figcaption{
    text-align: center;

  }

  /* -----------choose brand---------------- */
  // .box {
  //   width: 250px;
  //   height: 250px;
  //   border-radius: 100px;
  //   background-color:#333;
  //   box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
  // }
  
  .card-content{
    transform: translateY(10px);
    transition: 0.5s;

  }
  // .card-content > img {
  //   width: 100%;
  //   height: 100%;
   

  // }
  .dasimg{

    width: 150px;
    height: 150px;
    transition: ease 0.5s;
    transform: translateY(10px);
  }
  .card {
    width: 200px;
    padding-left: 20px;
    padding-top: 20px;
    // margin-right: 400px;

    margin-bottom: 100px;
    height: 200px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    // border-radius: 200px;
    // background-color: rgba(200, 200, 200, 0.5);
    /* background-image: url("das1.png");    */
    // border-top: 1px solid rgba(255, 255, 255, 0.5);
    // border-left: 1px solid rgba(255, 255, 255, 0.5); 
    cursor: pointer;
}
.card :hover{
    transform: translateY(0px);
    opacity: 1;
}
.brand{
    // background-color: cornsilk;
    display:flex;
    // flex-wrap: wrap;
    max-width: 1200;
    margin-top: 20px;
    overflow: auto;
    justify-content:space-between;
    margin-bottom: 200px;
}
.brands{
  // background-color: cornsilk;
}
 