
$success: #EF3B3A;

@import "~bootstrap/scss/bootstrap.scss";

.logo{
    margin-left: 20px;
    margin-right: 20px;
  }
.choose{
  // margin-left: 200px;
  display: flex;
  justify-content: flex-end;
}
.mr-2{
    width: 400px;
    margin-right: 10px;
}
.ads{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.ads > h1 {
  font-size: 60px;
}
.ads-details{
  font-weight:1200;
  color: black;
  background-color: burlywood;
  border-radius: 20px;
}

div.item{
  width: 23%;
  // padding: 3px;
  // border: double;
}

div.item figure > img{
  width: 90%;
  cursor: pointer;
  // height: 200px;
  transition: transform ease 0.3s;

}

figcaption{
  // text-align: center;

}
.price{
  padding-left: 5%;
  height: 10%;
}
// .shoe-img{
//   height: 80%;
// }
.shoe-name{
  height: 50px;
}
.item .linkto {
  text-decoration: none;
  color: black;
}
/* -----------choose brand---------------- */
// .box {
//   width: 250px;
//   height: 250px;
//   border-radius: 100px;
//   background-color:#333;
//   box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
// }

.card-content{
  transform: translateY(10px);
  // transition: 0.5s;

}
// .card-content > img {
//   width: 100%;
//   height: 100%;


// }
.dasimg{

  width: 150px;
  height: 150px;
  transition: ease 0.5s;
  transform: translateY(10px);
}
// .card {
//   width: 200px;
//   padding-left: 20px;
//   padding-top: 20px;
//   margin-bottom: 100px;
//   height: 200px;
//   box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
//   cursor: pointer;
// }
.card-adidas :hover{
    transform: translateY(0px);
    opacity: 1;
}

.card-nike :hover{
  transform: translateY(0px);
  opacity: 1;
}

.card-mlb :hover{
  transform: translateY(0px);
  opacity: 1;
}

.card-vans :hover{
  transform: translateY(0px);
  opacity: 1;
}

.card-nb :hover{
  transform: translateY(0px);
  opacity: 1;
}

.card-adidas {
  width: 200px;
  padding-left: 20px;
  padding-top: 20px;
  // margin-bottom: 100px;
  background-image: url("adidasbg.png");
  height: 200px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  cursor: pointer;
}

.card-nike {
  width: 200px;
  padding-left: 20px;
  padding-top: 20px;
  background-image: url("nikebg.png");
  height: 200px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  cursor: pointer;
}

.card-mlb {
  width: 200px;
  padding-left: 20px;
  padding-top: 20px;
  background-image: url("mlbbg.png");
  height: 200px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  cursor: pointer;
}

.card-vans {
  width: 200px;
  padding-left: 20px;
  padding-top: 20px;
  background-image: url("vansbg.png");
  height: 200px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  cursor: pointer;
}

.card-nb {
  width: 200px;
  padding-left: 20px;
  padding-top: 20px;
  background-image: url("nbbg.png");
  height: 200px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  cursor: pointer;
}

.brand{
    // background-color: cornsilk;
    display:flex;
    // flex-wrap: wrap;
    max-width: 1200;
    margin-top: 20px;
    overflow: auto;
    justify-content:space-between;
    // margin-bottom: 200px;
}

.brands{
  // background-color: cornsilk;
  margin-top: 2%;
  margin-left: 2%;
}
.brands > h3 {
  font-weight: 900;
}
.most-pop{
  margin-left: 2%;
}
.most-pop > h3 {
  font-weight: 900;
}
/* -----------product---------------- */
.des > h1 {
  font-weight: 900;
}
.filter > h3 {
  font-weight: 900;
}
.shoe-detail{
  margin-top: 5%;
}
.shoe-detail > h1{
  font-weight: 900;
}
.name-brand{
  margin-bottom: 5%;
}
.shoe-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: rgba(0,0,0,0.5);
  // color: white;
  border-radius: 5px;
}
.Cond-detail {
  margin-left: 5%;
  display: flex;
  // align-items: center;
  
}
.Cond-detail > h3 {
  font-weight: 900;
}
.Cond{
  color: seagreen;
  padding-right: 1%;
  padding-bottom: 0px;
}
.Authentic{
  padding-bottom: 0px;
  border-left: 2px solid black;
  color: seagreen;
  // margin-left: 1%;
  display: flex;
  align-items: flex-start;
  padding-left: 1%;
}
.Authentic > h3 {
  font-weight: 800;
}
.order{
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  margin-bottom: 5%;
}
.order-tag{
  text-align: center;
  width: 10%;
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/*-----------------ABOUT----------------------*/

.about-page{
  display: flex;
  justify-content: space-around;
}
 .content{
   width: 100%;
   height: 500px;
   background-image: url("SH.png");
   background-size: cover;
   padding-top: 20%;
 }
 .text {
  color: black;
  font-weight: 900;
  text-align: center;
  }
.address > h2{
    text-transform: uppercase;
  }
.address {
  display: flex;
}
.phone{
  display: flex;
}
.time{
  display: flex;
}
.col1 > h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}
.col2 > h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}
.footer{
  margin-left: 20px;
  text-align: center;
  color: white;
}
.icon-sns{
  margin-left: 30px;
  color: white;
  justify-content: space-around;
  margin-right: 30px;
}